{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
        "dot-notation": "off",
        "camelcase": "off",
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "no-dupe-class-members": "off",
        "no-void": "off",
        "no-use-before-define": "off",
        "@typescript-eslint/no-dupe-class-members": "error",
        "@typescript-eslint/no-floating-promises": "warn",
        "@typescript-eslint/member-delimiter-style": "warn",
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/prefer-regexp-exec": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "no-trailing-spaces": [
            "error",
            {
                "ignoreComments": true
            }
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ]
    },
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    }
}